$prefix: gu;

$colors: (
  red: #f1453d,
  green: #8cc152,
  blue: #4a90e2,
  black: #424242
);

$blue: map_get($colors, blue);
$red: map_get($colors, red);
$green: map_get($colors, green);
$black: map_get($colors, black);

@mixin component($name) {
  .#{$prefix}-#{$name} {
    @content
  }
}

