# See https://help.github.com/ignore-files/ for more about ignoring files.
/.idea
/.vs
# dependencies
/node_modules

# testing
/coverage
/test-results/jest/

# production
/dist
/docs

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/scratch.ts

npm-debug.log*
yarn-debug.log*
yarn-error.log*
