@import "helper";

body { margin: 0; line-height: 1.5; font-size: 16px; }

* {margin: 0;padding: 0;}

ul, ol { list-style: none;}

img {max-width: 100%;}

h1, h2, h3, h4, h5, h6 {font-weight: normal;}

a {text-decoration: none; color: black;}

.site {
  &-wrapper { min-height: 100vh; }
  &-header { display: flex; padding: 0 48px; align-items: center; border-bottom: 1px solid $main-color;
    & > .actions { margin-left: auto; }
  }
  &-body { padding: 0 48px; display: flex; }
  &-footer { padding: 8px 48px; display: flex; border-top: 1px solid $main-color; }
  &-logo { background: $main-color; display: flex; padding: 4px; margin: 8px 0;}
  &-nav { display: flex; color: $main-color;
    > li { padding: 0 16px;
      &:last-child { padding-right: 0; }
    }
  }
  &-aside { border-right: 1px solid $main-color; padding-right: 1em; min-width: 10em;
    h2 { margin: 0.5em 0 0.2em; color: $main-color;}
    > ol { flex-shrink: 0;
      li { line-height: 2; }
    }
  }
  &-main { background: white; margin: 24px 32px;
    h2 {margin: 1em 0;}
  }
}

.demo {
  &-row {
    padding: 8px 0;
    &.bordered {
      border: 1px solid grey;
    }
  }
}
